*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



#page-title{
	text-align: center;
	margin: 20px 0px;
	font-size: 50px;
	color: #fff;
}

/* SLIDER ==============================*/

.flexslider{
	width: 100%;
	overflow: hidden;
	height: 380px;
	border-radius: 8px;
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.70);
	display: flex;
	flex-direction: column;
	position: relative;
}
.slides li img{
	width: 100%;
	height: 380px;
	display: flex;
	flex-direction: column;
}

.slides{
	padding: 0;
}
.slides li,
.slides li img{
	width: 100%;
}


.slides li{
	margin-bottom: -5px;
}

/* PAGINACION =======================*/

.flex-control-nav.flex-control-paging{
	width: 120px;
	padding: 0px 0px;
	background-color: rgb(240, 240, 240);
	border: 2px solid rgba(255,255,255,.3);
	border-radius: 10px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.80);

	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;

	list-style: none;

	position: absolute;
	bottom: 2px;
	z-index: 3;
}

.flex-control-nav li{
	display: inline-block;
	margin: 0 5px;
}

.flex-control-nav li a{
	display: block;
	width: 15px;
	height: 15px;
	background: #fff;
	border-radius: 50%;
	text-indent: -9999px;
	box-shadow: inset 0px -3px 2px 0px rgba(0,0,0,0.55);
}

.flex-control-nav li a.flex-active{
	background: #353535;
}

/* NAVEGACION ===============*/
.flex-direction-nav{
	z-index: 3;
	list-style: none;
}

.flex-direction-nav a{
	width: 60px;
	height: 60px;
	background: #333333;
	border: 2px solid rgba(255,255,255,.3);
	border-radius: 5px;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.80);

	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	opacity: 0;

	position: absolute;
	top: 50%;
	margin-top: -30px;

	transition: all 0.3s ease-in-out;
}

.flex-direction-nav a::before{
	content: "\f104";
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-size: 50px;
    color: #fff;
}

.flex-direction-nav a.flex-next::before{
	content: "\f105";
}

.flex-direction-nav .flex-prev{
	left: 0px;
}

.flex-direction-nav .flex-next{
	right: 0px;
}

.flexslider:hover .flex-direction-nav .flex-prev{
	opacity: 1;
	left: 15px;
}

.flexslider:hover .flex-direction-nav .flex-next{
	opacity: 1;
	right: 15px;
}

/* CAPTION ==================*/
.caption{
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	position: absolute;
	top: 0;
	z-index: 2;
}

.caption h2{
	font-size: 60px;
	color: #fff;
	text-shadow: 3px 3px 2px rgba(000, 000, 000, 0.70);
}

/* RESPONSIVE ========== */
@media screen and (max-width: 1400px){
	.flexslider{
		width: 100%;
		overflow: hidden;
		height: 350px;
		border-radius: 8px;
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.70);
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.slides li img{
		width: 100%;
		height: 350px;
		display: flex;
		flex-direction: column;
	}
	


	#page-title{
		font-size: 40px;
	}
	.flex-direction-nav a{
		width: 5px;
		height: 5px;
		background: #333333;
		border: 2px solid rgba(255,255,255,.3);
		border-radius: 5px;
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.80);
	


		position: absolute;
		top: 50%;
		margin-top: -30px;
	
		transition: all 0.3s ease-in-out;
	}
}
@media screen and (max-width: 770px){
	.flex-direction-nav a{
		opacity: 1;
	}

	.flex-direction-nav .flex-prev{
		left: 15px;
	}

	.flex-direction-nav .flex-next{
		right: 15px;
	}

	.caption h2{
		font-size: 50px;
	}

}

@media screen and (max-width: 600px){
	
	.flexslider{
		width: 100%;
		overflow: hidden;
		height: 250px;
		border-radius: 8px;
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.70);
		display: flex;
		flex-direction: column;
		position: relative;
	}
	.slides li img{
		width: 600px;
		height: 250px;
		display: flex;
		flex-direction: column;
	}

	#BAN-1{
		translate: -85px;
		width: 800px;
	}
	#page-title{
		font-size: 40px;
	}


	
	.flex-direction-nav a{
		width: 5px;
		height: 5px;
		background: #333333;
		border: 2px solid rgba(255,255,255,.3);
		border-radius: 5px;
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.80);
	


		position: absolute;
		top: 50%;
		margin-top: -30px;
	
		transition: all 0.3s ease-in-out;
	}
}
@media screen and (max-width: 800px){
	.flexslider{
		width: 100%;
		overflow: hidden;
		height: 250px;
		border-radius: 8px;
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.70);
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.slides li img{
		width: 100%;
		height: 250px;
		display: flex;
		flex-direction: column;
	}
	


	#page-title{
		font-size: 40px;
	}
	.flex-direction-nav a{
		width: 5px;
		height: 5px;
		background: #333333;
		border: 2px solid rgba(255,255,255,.3);
		border-radius: 5px;
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.80);
	


		position: absolute;
		top: 50%;
		margin-top: -30px;
	
		transition: all 0.3s ease-in-out;
	}
}


@media screen and (max-width: 450px){
	.flexslider{
		width: 100%;
		overflow: hidden;
		height: 250px;
		border-radius: 8px;
		box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.70);
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.slides li img{
		width: 100%;
		height: 250px;
		display: flex;
		flex-direction: column;
	}
	#BAN-1{
		translate: -330px;
		width: 850px;
	}
	#BAN-2{
		translate: -400px;
		width: 850px;
	}
	#BAN-3{
		translate: -120px;
		width: 550px;
	}



	#page-title{
		font-size: 40px;
	}
	.flex-direction-nav a{
		width: 5px;
		height: 5px;
		background: #333333;
		border: 2px solid rgba(255,255,255,.3);
		border-radius: 5px;
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.80);
	


		position: absolute;
		top: 50%;
		margin-top: -30px;
	
		transition: all 0.3s ease-in-out;
	}
}
